rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /test-collection/{target} {
      allow read, write;
    }
  }
}